# Environnement
venv/
.env


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# IDE
.vscode/


# OS
.DS_Store
Thumbs.db

# Docker
*.pid
docker-compose.override.yml


# Tests / coverage
htmlcov/
.tox/
.nox/
coverage.*
.cache
pytest_cache/

# files txt
uploads/
